In [1]:
import pandas as pd

In [2]:
training_data = pd.read_parquet(r"../Databases/cf_train_final.parquet/part-00003-f5f99d61-97a3-408a-9dcd-5d6fc378fff2-c000.snappy.parquet")

In [3]:
map_track_index_id = {}
for track_id_index,track_id in zip(training_data['track_id_index'],training_data['track_id']):
    map_track_index_id[track_id_index] = track_id

In [4]:
training_data.head()

,user_id,count,track_id,track_id_index,user_id_index
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,TRIQAUQ128F42435AD,2994,103159
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,TRIRLYL128F42539D1,12575,103159
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,2,TRMHBXZ128F4238406,3524,103159
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,TRYQMNI128F147C1C7,32121,103159
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,TRAHZNE128F9341B86,20989,103159

In [5]:
from pathlib import Path
import pandas as pd

data_dir = Path(r'../Databases/itemFactors_5_12_130am_Final.parquet-20210512T212320Z-001/itemFactors_5_12_130am.parquet')
item_factors_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)

In [6]:
item_factors_df['id'] = item_factors_df['id'].apply(lambda x: map_track_index_id[x])

In [7]:
item_factors_df.head()

                   id                                           features
0  TRLBTOM128EF3556AA  [0.020908946, -0.025299052, 0.0016335848, 0.00...
1  TRSZUZE128F427FF87  [0.014992387, 0.010706659, -0.010439549, 0.004...
2  TRHAYXF128F428B950  [0.025512174, 0.007178483, 0.041339725, 0.0339...
3  TRAZRKM128F4289DBB  [0.0018410288, -0.00025735682, 0.0041293222, 0...
4  TRYSIJX128F4256754  [0.0048806714, -0.025040412, -0.015727574, -0....

In [8]:
from sklearn.manifold import TSNE

In [9]:
import numpy as np

X = np.matrix(item_factors_df['features'].tolist())

In [ ]:
X_embedded = TSNE(n_components=3, n_jobs= - 1).fit_transform(X)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

df_embedded = pd.DataFrame({'X':X_embedded[:,0], 'Y':X_embedded[:,1], 'Z':X_embedded[:,2],'tid':item_factors_df['id']})
df_embedded.to_csv("TSNE_Embed_3D_FULL_FINAL.csv")